
body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

i{
	font-size: 1.3em;
	color: #525350;
}

.corp .titre1 {
	font-weight: 300;
}

.corp .titre2 {
	font-weight: 300;
}

h1 {
	font-weight: 300;
	font-size: 1em;
	margin-block-end: 0px;
}

h2 {
	font-weight: 400;
	font-size: 0.85em;
}

p{
	font-size: 0.79em;
}

ul li {
	font-size: 0.8em;
}

a{
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: blue;
}

.info h2{
	margin-block-start: 0.4em;
    margin-block-end: 0.4em;
}

.info ul{
	margin-block-start: 0.65em;
	margin-block-end: 0.65em;
}

/* gestion du flexbox */

html {
	height: 100%;
  }

body {
	display: flex;
	min-height: 100%;
	margin: 0;
	padding: 0;
  }

.corp{
	width: 100%;
	flex-direction: column;
	display: flex;
}

.info{
	height: 100%;
	display: flex;
}

.sidebar{
	display: flex;
	flex-direction: column;
	background-color: #d1d7cb;
	min-width: 250px;
	width: 270px;
	padding: 35px;
}

.sidebar img{
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

header .couleur {
	color: #d1d7cb;
}

header div{
	padding-left: 150px;
}

header .titre1{
	font-size: 3em;
	padding-top: 80px;
	min-width: 450px;
}

header .titre2{
	font-size: 1.5em;
	padding-bottom: 20px;
}

header img {
	padding-left: 20px;
	width: 100%;
	height: 5px;
}

.info h1{
	padding-left: 50px;
}

.info .separateur{
	padding-left: 15px;

	padding-top: 7px;
	padding-bottom: 10px;
	width: 100%;
	height: 5px;
}

.info i{
	padding-right: 10px;
}

.padding{
	padding-left: 90px;
	padding-right: 40px;
}

.padding2 {
	padding-left: 25px;
	display: flex;
	justify-content: space-between;	
 }

.padding2 li {
	margin-bottom: 0.2em;
}

.padding2 ul {
	margin-block-start: 0.1em;
}

.experience{
	padding: 10px;
	min-width: 435px;
	width: 50%;
}

.formations{
	padding: 10px;
	min-width: 435px;
	width: 50%;
}

.formations .padding {
	padding-bottom: 50px;
}

.soft_skills {
	margin-block-end: 1.3em;
}

.soft_skills p {
   margin-block-start: 0.2em;
   margin-block-end: 0.2em;
}

.soft_skills .soft{
   margin-block-start: 1em;
}

.contact p {
   margin-block-start: 0.2em;
   margin-block-end: 0.2em;
}

.contact .nom {
   margin-block-start: 1em;
}

.a_propos{
   text-align: justify;
}

footer{
	text-align: center;
	padding-bottom: 5px;
 }


 /* Réactions responsive */
@media all and (max-width: 1120px){

.info {
	flex-wrap: wrap;
	justify-content: center;
}


}